* {
  box-sizing: border-box;
}

body {
  background-color: lightyellow;
  background-repeat: no-repeat;
  font-family: 'Bungee Inline', cursive;
}

.user-bar-block {
  margin-top: 35px;
  padding: 10px;
  text-align: center;
}

.header {

}

.start {
  border: none;
  padding: 6px;
}
